requests==2.18.4
geopandas==0.6.3
palettable==3.1.1
country_converter==0.6.5
seaborn==0.11.0
pandabase==0.5.0
cycler==0.10.0
pytz==2018.4
bentso.egg==info
scipy==1.1.0
tweepy==3.9.0
networkx==2.1
matplotlib==3.0.3
beautifulsoup4==4.9.3
bentso==0.3
python_dateutil==2.8.1
util==0.0.1
